body {
  margin-top : 0px;
  margin-left:0px;
   background-color: #171717;
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center center;
   }

   /* 0. HEADER */

   .headerBackground{
     padding-left:4px;
     height:45px;
     width:100%;
     background-color: #171717;
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     position:fixed;
     z-index: 1000;
   }
   .headerBloc{
     margin-left:10px;
     display: inline-block;
     text-decoration: none;
   }
   .headerText{
     margin-top:8px;
     padding-top: 5px;
     padding-bottom:5px;
     padding-left:15px;
     padding-right:15px;
     color: #171717;
     background-color: #464646;
     border: 1px solid;
     font-size: 14px;
     font-family: helvetica, sans-serif;
   }
   .headerText2{
     margin-top:8px;
     padding-top: 5px;
     padding-bottom:5px;
     padding-left:15px;
     padding-right:15px;
     color: #464646;
     border: 1px solid #464646;
     font-size: 14px;
     font-family: helvetica, sans-serif;
   }
   .headerSelectionText{
     margin-top:8px;
     padding-top: 5px;
     padding-bottom:5px;
     padding-left:15px;
     padding-right:15px;
     font-weight: bold;
     color: #000;
     background: linear-gradient(0.60turn, #E9FF00, #E9FF00);
     font-size: 14px;
     font-family: helvetica, sans-serif;
   }
   .logoMenu{
     display: block;
     margin-top: 5px;
     margin-bottom: 6px;
     margin-left: auto;
     margin-right: auto;
     width: 10px;
     height : 10px;
     overflow: hidden;
   }
   /* 1. FORMATION INTERIOR */

   .ContainerFormations{
     padding-left:13px;
     margin-top:40px;
     width: 100%;
     height : 95%;
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     position:fixed;
     color: #fff;
     z-index: 1000;


   }
   .titreformation {
     text-align: center;
     font-size: 27px;
     font-weight: bold;
     font-family:sans-serif;
     color: #E9FF00;
     margin-left: auto;
     margin-right: auto;
     white-space: break-spaces;
   }
   .formation{
     margin-right: 20px;
     display: inline-block;
     width: 500px;
     height : 95%;
     overflow: hidden;
     background-color: #222222;

   }

   .up{
     display: block;
     margin-top: 20px;
     margin-bottom: 40px;
     margin-left: auto;
     margin-right: auto;
     width: 200px;
     height : 200px;
     border-radius: 100%;
     overflow: hidden;

   }
   .BackgroundImage{
     display : block;
     height:100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center center;
   }

   .ScrollView{
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top : 10px;
    margin-left:  15px;
    background-color: #171717;
    height: 85%;
    width:90%;
    background-color: #222222;
  }
  .BackgroundTextArticle{
   display: block;
   margin-top : 0px;
   background-color: #171717;
   min-height: 30px;
   width:95%;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
  }

  .TextSimple {
  text-align: justify;
  width:80%;
  font-size: 17px;
  font-weight: 400;
  font-family:sans-serif;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  white-space: break-spaces;
  }
  .centreformation{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    height :60px;
    overflow: hidden;
    background-color: #1C1C1C;
    font-size: 17px;
    font-weight: 400;
    font-family:sans-serif;
    color: #FFF;
  }
  .Textformation{
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 200;
  font-family:sans-serif;
  color: #595959;
  margin-left: auto;
  margin-right: auto;
  white-space: break-spaces; 
  }
