body {
margin-top : 0px;
margin-left:0px;
 background-color: #171717;
 background-repeat: no-repeat;
 background-size: cover;
 background-position:center center;
 }

 /* 0. HEADER */

 .headerBackground{
   padding-left:4px;
   height:45px;
   width:100%;
   background-color: #171717;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   position:fixed;
   z-index: 1000;
 }
 .headerBloc{
   margin-left:10px;
   display: inline-block;
   text-decoration: none;
 }
 .headerText{
   margin-top:8px;
   padding-top: 5px;
   padding-bottom:5px;
   padding-left:15px;
   padding-right:15px;
   color: #171717;
   background-color: #464646;
   border: 1px solid;
   font-size: 14px;
   font-family: helvetica, sans-serif;
 }
 .headerText2{
  margin-top:8px;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left:15px;
  padding-right:15px;
  color: #171717;
  background-color: #464646;
  border: 1px solid;
  font-size: 14px;
  font-family: helvetica, sans-serif;
}
 .headerSelectionText{
   margin-top:8px;
   padding-top: 5px;
   padding-bottom:5px;
   padding-left:15px;
   padding-right:15px;
   font-weight: bold;
   color: #000;
   background: linear-gradient(0.60turn, #E9FF00, #E9FF00);
   font-size: 14px;
   font-family: helvetica, sans-serif;
 }

 /* 1. BLOG INTERIOR */

 .ContainerArticles{
   padding-left:13px;
   margin-top:40px;
   width: 100%;
   height : 95%;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   position:fixed;
   z-index: 1000;
 }
 .article{
   margin-right: 20px;
   display: inline-block;
   width: 1500px;
   height : 910px;
   border:5px solid #E9FF00;
   overflow: hidden;
 }
 .FlexDirection{
   display : block;
   width: 100%;
   height : 100%;
   flex-direction: row;
 }
 .Left{
   display: inline-block;
   width: 65%;
   height : 100%;
   overflow: hidden;
 }
 .BackgroundImage{
   display : block;
   height:100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center center;
 }
 .Right{
   display: inline-block;
   width: 35%;
   height : 100%;
   overflow: hidden;
   background-color: #171717;
 }
 .LanguageVersion{
  display: block;
  margin-top : -8px;
  background-color: #464646;
  height: 30px;
  width:35%;
  margin-left: auto;
  margin-right: 10px;
  text-decoration: none;
 }
 .TextVersion {
 text-align: center;
 font-size: 15px;
 font-weight: 400;
 font-family:sans-serif;
 color: #fff;
 margin-left: auto;
 margin-right: auto;
 padding-top: 5px;
 }
 .ScrollView{
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top : 10px;
  background-color: #171717;
  height: 90%;
  width:98%;
}
.BackgroundTextArticle{
 display: block;
 margin-top : 0px;
 background-color: #171717;
 min-height: 30px;
 width:95%;
 margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
}
.Texttile {
text-align: center;
font-size: 27px;
font-weight: bold;
font-family:sans-serif;
color: #E9FF00;
margin-left: auto;
margin-right: auto;
white-space: break-spaces;
}
.TextSimple {
text-align: Left;
text-align: justify;
font-size: 17px;
font-weight: 400;
font-family:sans-serif;
color: #FFF;
margin-left: auto;
margin-right: auto;
white-space: break-spaces;
}
.MoreInformation{
 display: block;
 margin-top : 45px;
 background-color: red;
 height: 30px;
 width:35%;
 margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
 text-decoration: none;
 background:#E9FF00;
}
.TextMoreInformation {
text-align: center;
font-size: 15px;
font-weight: 400;
font-family:sans-serif;
color: yellow;
margin-left: auto;
margin-right: auto;
padding-top: 5px;
color: #171717;
}
